# ROLE: Baseline
export BASELINE_REQUIRED_PACKAGES=sudo,man,net-tools,logwatch,vim,tmux,wget,curl,htop,jnettop,goaccess


# ROLE: PHP
export PHP_REQUIRED_PACKAGES=php-cli,php-fpm,php-pear,php-json,php-bcmath,php-intl,php-zip,php-gd,php-mbstring,php-curl,php-tokenizer,php-mysql,php-pgsql,php-xml,php-xmlrpc,php-soap,php-opcache


# ROLE: NGINX
export NGINX_REQUIRED_PORTS="80,443"


# ROLE: NGINXSERVERBLOCK
export NGINXSERVERBLOCK_HOSTNAME=bitmotive.com
export NGINXSERVERBLOCK_SERVERNAME_STRING=bitmotive.com
export NGINXSERVERBLOCK_HTTP_PORT="80"
export NGINXSERVERBLOCK_HTTPS_PORT="443"
export NGINXSERVERBLOCK_HTTPS_PORT="None"


#export NGINXSERVERBLOCK_SSL_PRIVKEYPATH="~/migrations/bitmotive.com/certs/private.pem"
export NGINXSERVERBLOCK_SSL_PRIVKEYPATH="None"


#export NGINXSERVERBLOCK_SSL_PUBKEYPATH="~/migrations/bitmotive.com/certs/public.pem"
export NGINXSERVERBLOCK_SSL_PUBKEYPATH="None"
export NGINXSERVERBLOCK_REDIRECT_WWW="YES"
export NGINXSERVERBLOCK_SUPPORT_PHP="YES"


# ROLE: MYSQL
export MYSQL_ROOT_PASSWORD="password"


# ROLE: MYSQLEXPORT
export MYSQLEXPORT_DB_NAME="bitmotive"
export MYSQLEXPORT_DB_USER="bitmotiveuser"
export MYSQLEXPORT_DB_USER_PASSWORD="password"
export MYSQLEXPORT_DESTINATION_FOLDER="~/migrations/bitmotive.com/db/mysql.sql"


# ROLE: MYSQLIMPORT
export MYSQLIMPORT_DATABASE_NAME="bitmotive"
export MYSQLIMPORT_DATABASE_USERNAME="bitmotiveuser"
export MYSQLIMPORT_DATABASE_PASSWORD="password"
export MYSQLIMPORT_DATABASE_ROOT_PASSWORD="password"
export MYSQLIMPORT_DATABASE_FILEPATH="~/migrations/bitmotive.com/db/mysql.sql"


# ROLE: DISCOURSE
export DISCOURSE_HOSTNAME="bitmotive.com"
export DISCOURSE_EMAIL="discourse@mg.bitmotive.com"
export DISCOURSE_SMTP_ADDRESS="smtp.mailgun.org"
export DISCOURSE_SMTP_PORT=587
export DISCOURSE_SMTP_USER="discourse@mg.bitmotive.net"
export DISCOURSE_SMTP_PASSWORD="SMTPPASSHERE"
export DISCOURSE_PORT="8080"
export DISCOURSE_MEMORY="8192MB"
export DISCOURSE_CORES="16"
export DISCOURSE_NGINX_CONFIG_NAME="bitmotive.com.conf"
export DISCOURSE_NGINX_SSL_CERTIFICATE="/etc/ssl/certs/ssl_bitmotive.com_fullchain.pem"
export DISCOURSE_NGINX_SSL_CERTIFICATE_KEY="/etc/ssl/private/ssl_bitmotive.com_privkey.pem"


# SYNC2HOST Variables
export SYNC2HOST_TARGET_FILEPATH=/var/www/private_html/bitmotive-import
export SYNC2HOST_HOST_FILEPATH=~/migrations/bitmotive.com/files/webroot
export SYNC2HOST_HOST_FILEPATH_GROUP=staff
export SYNC2HOST_HOST_FILEPATH_USER=bitmotive
export SYNC2HOST_HOST_FILEPATH_PERMS=0775


