[submodule "nginxserverblock"]
	path = nginxserverblock
	url = git@github.com:bitmotive/bark-role-nginxserverblock.git
[submodule "php"]
	path = php
	url = git@github.com:bitmotive/bark-role-php.git
[submodule "baseline"]
	path = baseline
	url = git@github.com:bitmotive/bark-role-baseline.git
[submodule "nginx"]
	path = nginx
	url = git@github.com:bitmotive/bark-role-nginx.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/bitmotive/bark-role-mysql
[submodule "mysqlexport"]
	path = mysqlexport
	url = git@github.com:bitmotive/bark-role-mysqlexport.git
[submodule "mysqlimport"]
	path = mysqlimport
	url = git@github.com:bitmotive/bark-role-mysqlimport.git
[submodule "discourse"]
	path = discourse
	url = git@github.com:bitmotive/bark-role-discourse.git
[submodule "sync2host"]
	path = sync2host
	url = git@github.com:bitmotive/bark-role-sync2host.git
[submodule "sync2target"]
	path = sync2target
	url = git@github.com:bitmotive/bark-role-sync2target.git
[submodule "postgresql"]
	path = postgresql
	url = git@github.com:bitmotive/bark-role-postgresql.git
